/***********************************************************************
layout rule
**********************************************************************/
/* l-container
----------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 760px;
  }
}
@media only screen and (max-width: 767px) {
  .l-container {
    padding: 0 10px;
  }
}
/***********************************************************************
utility rule
**********************************************************************/
/* clearfix
----------------------------------------------------------------------*/
.u-cf:after {
  display: block;
  clear: both;
  content: '';
}

/* imghover
----------------------------------------------------------------------*/
.u-ov:hover img {
  opacity: .8;
}

/* align
----------------------------------------------------------*/
.u-align-center {
  text-align: center;
}

.u-align-right {
  text-align: right;
}

.u-align-left {
  text-align: left;
}

/***********************************************************************
module rule
**********************************************************************/
.m-btn {
  display: inline-block;
  padding: .7em 1.5em;
  border: none;
  border-radius: 5px;
  background: #3498db;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}
.m-btn:hover {
  background: #5faee3;
}

a.m-btn {
  text-decoration: none;
}

.m-tweet {
  width: 100%;
}
.m-tweet .m-tweet_row {
  display: table;
  width: 100%;
}
.m-tweet .m-tweet_row:not(:last-child) {
  margin-bottom: 5px;
}
.m-tweet .m-tweet_left {
  display: table-cell;
  padding-right: 10px;
  width: 48px;
  vertical-align: top;
}
.m-tweet .m-tweet_right {
  display: table-cell;
  vertical-align: top;
}
.m-tweet .m-tweet_rt {
  color: #2ecc71;
  vertical-align: middle;
  text-align: right;
  font-size: 1.2rem;
}
.m-tweet .m-tweet_rtuser {
  color: #999999;
  font-size: 1.2rem;
}
.m-tweet .m-tweet_icon img {
  border-radius: 5px;
}
.m-tweet .m-tweet_name {
  font-weight: bold;
}
.m-tweet .m-tweet_id {
  color: #999999;
  font-size: 1.3rem;
}
.m-tweet .m-tweet_content {
  margin-bottom: 5px;
}
.m-tweet .m-tweet_media {
  overflow: hidden;
  margin-bottom: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.m-tweet .m-tweet_photos:after {
  display: block;
  clear: both; 
  content: '';
}
.m-tweet .m-tweet_photos > li a {
  display: block;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num1 > li a {
  padding-top: 66.666%;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num2 > li,
.m-tweet .m-tweet_photos.m-tweet_photos-num4 > li {
  float: left;
  width: 50%;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num2 > li a,
.m-tweet .m-tweet_photos.m-tweet_photos-num4 > li a {
  padding-top: 100%;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num2 > li:nth-child(even) a,
.m-tweet .m-tweet_photos.m-tweet_photos-num4 > li:nth-child(even) a {
  border-left: 1px solid #ffffff;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num2 > li:nth-child(3) a,
.m-tweet .m-tweet_photos.m-tweet_photos-num2 > li:nth-child(4) a,
.m-tweet .m-tweet_photos.m-tweet_photos-num4 > li:nth-child(3) a,
.m-tweet .m-tweet_photos.m-tweet_photos-num4 > li:nth-child(4) a {
  border-top: 1px solid #ffffff;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num3 > li {
  float: left;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num3 > li a {
  padding-top: 100%;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num3 > li:first-child {
  width: 66.666%;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num3 > li:first-child a {
  border-right: 1px solid #ffffff;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num3 > li:not(:first-child) {
  width: 33.333%;
}
.m-tweet .m-tweet_photos.m-tweet_photos-num3 > li:last-child a {
  padding-top: calc(100% - 1px);
  border-top: 1px solid #ffffff;
}
.m-tweet .m-tweet_actions {
  display: table;
  max-width: 480px;
}
.m-tweet .m-tweet_actions > li {
  display: table-cell;
}
.m-tweet .m-tweet_actions > li:not(:first-child) {
  padding-left: 20px;
}

.m-tweetList {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #ffffff;
}
.m-tweetList .m-tweetList_item {
  padding: 10px;
}
.m-tweetList .m-tweetList_item:not(:first-child) {
  border-top: 1px solid #cccccc;
}
.m-tweetList .m-tweetList_item.is-hidden {
  display: none;
}

.m-actionBtn {
  color: #999999;
  cursor: pointer;
}
.m-actionBtn:hover,
.m-actionBtn.is-active {
  color: #3498db;
}

.m-list01 {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #ffffff;
}
.m-list01 .m-list01_item {
  padding: 10px;
}
.m-list01 .m-list01_item:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

/***********************************************************************
theme rule
**********************************************************************/
/***********************************************************************
common
**********************************************************************/
#GHead {
  position: fixed;
  padding: 5px 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
}
#GHead .gNav {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#GHead .gNav > li {
  display: table-cell;
  width: 33.33333%;
  vertical-align: middle;
  text-align: center;
  font-size: 1.0rem;
}
#GHead .gNav > li .icon {
  font-size: 2.5rem;
  line-height: 1.2;
}

#Contents {
  padding-top: 76px;
  padding-bottom: 40px;
}
#Contents .postBox {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #ffffff;
}
#Contents .postBox textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  width: 100%;
  border-color: #cccccc;
  border-radius: 3px;
  font-size: 1.6rem;
  resize: vertical;
}
#Contents .loginBlock {
  padding-top: 20px;
}
