@import 'init';

@import 'rules/layout';
@import 'rules/utility';
@import 'rules/module';
@import 'rules/theme';
@import 'rules/other';


/***********************************************************************
common
**********************************************************************/

#GHead {
  position: fixed;
  padding: 5px 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;

  .gNav {
    display: table;
    width: 100%;
    table-layout: fixed;
    > li {
      display: table-cell;
      width: 33.33333%;
      vertical-align: middle;
      text-align: center;
      font-size: 1.0rem;
      .icon {
        font-size: 2.5rem;
        line-height: 1.2;
      }
    }
  }
}


#Contents {
  padding-top: 76px;
  padding-bottom: 40px;
  .postBox {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #ffffff;
    textarea {
      box-sizing: border-box;
      padding: .5em;
      width: 100%;
      border-color: #cccccc;
      border-radius: 3px;
      font-size: 1.6rem;
      resize: vertical;
    }
    input[type=submit] {
    }
  }
  .loginBlock {
    padding-top: 20px;
  }
}
