/***********************************************************************
layout rule
**********************************************************************/

/* l-container
----------------------------------------------------------*/
.l-container {
}
@include mq-not-sp {
  .l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 760px;
  }
}
@include mq-sp {
  .l-container {
    padding: 0 10px;
  }
}
