/***********************************************************************
utility rule
**********************************************************************/

/* clearfix
----------------------------------------------------------------------*/

.u-cf:after {
  display: block;
  clear: both;
  content: '';
}

/* imghover
----------------------------------------------------------------------*/

.u-ov:hover img {
  opacity: .8;
}

/* align
----------------------------------------------------------*/
.u-align-center {
  text-align: center;
}
.u-align-right {
  text-align: right;
}
.u-align-left {
  text-align: left;
}
